<% if @article.errors.any? %>
	<div id="error_explanation">
	  <h2><%= pluralize(@article.errors.count, "error") %>, posibles causas:</h2>
	 
	      <ul>
	      <% @article.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
	  </ul>
	</div>
<% end %>

<h3><span></span>Articulo</h3>
<br/>
<div id="article">	
	<%= render :partial => "article" %>
</div>

<div class="separator"></div>

<h3><span></span> Listado de Articulos</h3>
<br/>
<div id="articles">	
	<%= render :partial => "articles" %>
</div>

<div class="cleaner"></div>

<script type="text/javascript">	
	function complete_jquery_data_tables_articles(data, textStatus, jqxhr){
		if(textStatus == 'success'){
			libraries['jquery_data_tables']	=true;
			ready_jquery_data_tables('tablaArticulos');
		}
	};
	function main_articles(){
		if(!libraries['jquery_ui']){
			$.getScript("/assets/jquery/jquery-ui-1.8.23.custom.min.js", complete_jquery_ui);
		}
		else{
			ready_jquery_ui();
		}
		if(!libraries['jquery_data_tables']){
			$.getScript("/assets/jquery/jquery.dataTables.min.js", complete_jquery_data_tables_articles);
		}
		else{
			ready_jquery_data_tables('tablaArticulos');
		}
		
	};
	
	$(document).ready(function () {
		main_articles();
		<%= render :file => "articles/_refresh.js.erb" %>
	});
	
</script>