<% if @crop.errors.any? %>
	<div id="error_explanation">
		<h2> <%= pluralize(@crop.errors.count, "error")%>, posibles causas:</h2>
		<ul>
			<% @crop.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>		
		</ul>	
	</div>
<% end %>

<h3><span></span>Cultivo</h3>
<br/>
<div id="crop">	
	<%= render :partial => "crop" %>
</div>
	
<div class="separator"></div>

<h3><span></span> Listado de cultivos</h3>
<br/>
<div id="crops">	
	<%= render :partial => "crops" %>
</div>

<div class="cleaner"></div>

<script type="text/javascript">	
	function complete_jquery_data_tables_crops(data, textStatus, jqxhr){
		if(textStatus == 'success'){
			libraries['jquery_data_tables']	=true;
			ready_jquery_data_tables('tablaCultivos');
		}
	};
	function main_crops(){
		if(!libraries['jquery_ui']){
			$.getScript("/assets/jquery/jquery-ui-1.8.23.custom.min.js", complete_jquery_ui);
		}
		else{
			ready_jquery_ui();
		}
		if(!libraries['jquery_data_tables']){
			$.getScript("/assets/jquery/jquery.dataTables.min.js", complete_jquery_data_tables_crops);
		}
		else{
			ready_jquery_data_tables('tablaCultivos');
		}
		
	};
	
	$(document).ready(function () {
		main_crops();
		<%= render :file => "crops/_refresh.js.erb" %>
	});
	
</script>