<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %>, posibles causas:</h2>
 
      <ul>
	      <% @acategory.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :name, "Nombre"%><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description, "Descripción"%><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit "Guardar categoría" %>
  </div>
<% end %>

<script type="text/javascript">
    $(document).ready(function () {
    	$("form").bind("keypress", function(e) {
            if (e.keyCode == 13) return false;
      	});
        $(".field label").addClass("ui-state-default ui-corner-all");
        $(".field input").addClass("ui-widget-content");
        $("input[type=submit]").button();
    });
</script> 